/* This is an example of using Sass, otherwise plain CSS works too*/
$color-one: #9A521C;
$color-two: #4D7A8A;
$color-three: #FF0026;
$color-four: #FF8800;
$color-five: #8700FF;
$color-six: white;
$font-one: 'Cinzel', serif;


body {
  background-color: $color-one;
  font-family: $font-one;
  display: flex;
  justify-content: center;
}